.head{
    background-color: #404040;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 150pt;
    text-align: left;
    border-style: groove;
    border: transparent;
}
.divih{
    margin-right: 80pt;
    margin-left: 80pt;
}
.divip{
    background-color: #cccccc;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 50pt;
    text-align: center;
    margin-right: 80pt;
    margin-left: 80pt;
    margin-top: 20px;
    padding-top: 20px;
}
a:link{
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: #404040;
    background-color: transparent;
    text-decoration: none;
}